.BP {
  background-image: url("BP.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 60%;
}

.BP1 {
  background-image: url("BP.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 60%;
}

.BR {
  background-image: url("BR.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.BR1 {
  background-image: url("BR.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.BN {
  background-image: url("BN.png");
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: 48%;
}

.BB {
  background-image: url("BB.png");
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.BK {
  background-image: url("BK.png");
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.BK1 {
  background-image: url("BK.png");
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.BQ {
  background-image: url("BQ.png");
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.WP {
  background-image: url("WP.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.WP1 {
  background-image: url("WP.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.WR {
  background-image: url("WR.png");
  background-size: 100px;
  background-repeat: no-repeat;
}

.WR1 {
  background-image: url("WR.png");
  background-size: 100px;
  background-repeat: no-repeat;
}

.WN {
  background-image: url("WN.png");
  background-size: 100px;
  background-repeat: no-repeat;
}

.WB {
  background-image: url("WB.png");
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.WK {
  background-image: url("WK.png");
  background-size: 100px;
  background-repeat: no-repeat;
}

.WK1 {
  background-image: url("WK.png");
  background-size: 100px;
  background-repeat: no-repeat;
}

.WQ {
  background-image: url("WQ.png");
  background-size: 100px;
  background-repeat: no-repeat;
}


tr, td {
  width: 100px;
  height: 100px;
  background-color: #d8d8d8;
}

tr:nth-child(even) td:nth-child(odd), 
tr:nth-child(odd) td:nth-child(even)
{
    background-color: #595959;
}

.chessBoard{
	float: left;
}

.allOutputs{
	float: left;
	width: 300px;
	height: 818px;
}

#imgOfTakenFiguresWhite{
	float: right;
	height: 409px;
	width: 100px;
}

#imgOfTakenFiguresBlack{
	float: right;
	height: 409px;
	width: 100px;
}

.outputBlack{
	width: 300px;
	height: 409px;
}

.outputWhite{
	width: 300px;
	height: 409px;
}

.timerOutputWhite{
	float: left;
	height: 409px;
	width: 200px;
}

.timerOutputBlack{
	float: left;
	height: 409px;
	width: 200px;
}

span{
	font-size: 23;
}

.clearFix{
	clear: both;
}